@media (min-width: 3840px) {

    header {
        height: 10rem;
    }
    nav {
        width: 15rem;
    }
    nav img {
        width: 160px;
    }
    nav ul li {
        font-size: 25px;
        padding: 20px 65px;
    }
    nav ul li:nth-child(2) {
        padding: 20px 66.50px;
    }
    nav ul li:nth-child(3) {
        padding: 20px 78px;
    }
    header ul {
        padding-top: 6.5rem;
        padding-left: 11rem;
    }
    header ul li{
        margin: 0 3.5rem;
        font-size: 30px;
    }
    .container {
        width: 70%;
    }

    #show1 {
        height: 2160px;
        margin-left: 0;
    }
    #show1 .first1 {
        font-size: 180px;
        width: 95rem;
        padding-top: 30rem;
        line-height: 12rem;
        font-family: 'Besley', serif;
        font-weight: lighter;
    }
    
    .box1 {
        padding-bottom: 20px;
    }
    .box2 {
        width: 500px;
    }
    .box2 blockquote {
        padding-top: 1.8rem;
        font-size: 30px;
    }
    .boxcont2 .boxcont2-flex {
        margin-top: 30px;
    }
    .boxcont2-flex img {
        width: 50px;
        height: 50px;
    }
    .boxcont2-flex .line {
        width: 70px;
    }
    .boxcont2-flex p {
        font-size: 30px;
    }
    .boxcont2-flex .p2 {
        font-size: 25px;
    }
    .box2 {
        margin-bottom: 25rem;
        height: 250px;
    }


    #show2 {
        height: 2160px;
    }
    #show2 img {
        width: 400px;
    }
    
    .projContainer {
        width: 400px;
        height: 450px;
    }
    .title {
        font-size: 40px;
    }
    .titlecontainer {
        width: 85%;
    }
    p {
        font-size: 20px;/* temporary width */
    }
    .titleRev {
        font-size: 35px;
        margin-top: 0.5rem;
        line-height: 2.5rem;
    }
    .span1 {
        padding: 10px 68px;
        font-size: 20px;
    }
    .span2 {
        padding: 10px 79.9px;
        font-size: 20px;
    }

    



    #show3 {
        height: 2160px;
        margin-left: 0;
    }
    #show3 .first2 {
        margin-top: 15rem;
        line-height: 3rem;
        font-size: 80px;
    }
    #show3 .second2, .third2, .fourth2 {
        font-size: 50px;
        margin: 20px 0;
    }
    .third2:nth-child(2) {
        padding-top: 5rem;
    }
    .fifth2, .dskill {
        font-size: 80px;
        margin-top: 12rem;
    }
    .design {
        margin-top: -25rem;
    }
    #show3 ul li {
        padding: 3px 20px;
        border-radius: 15px;
        font-size: 45px;
        margin-left: 3px;
    }
    #show3 ul li:nth-child(1) {
        margin-left: 0;
    }


    #show4 {
        height: 2160px;
        margin-left: 0;
        align-items: baseline;
    }
    #show4 .GetInT {
        font-size: 80px;
        line-height: 4rem;
    }
    #show4 .GetInT2 { 
        font-size: 31px;
    }
    #show4 {
        height: 1440px;
        margin-left: 8%;
    }
    #show4 .GetInT {
        font-size: 50px;
        line-height: 4rem;
    }
    #show4 .GetInT2 { 
        font-size: 31px;
    }
    #show4 form {
        /* display: flex; */
        width: 40%;
        height: 350px;
        margin-left: 20rem; 
    }
    #show4 .txtfield {
        width: 43.5%;
    }
    #show4 .divEmail {
        position: relative;
        top: 0px;
        left: 49%;
        margin-top: -4.4rem;
    }
    #show4 textarea {
        width: 92%;
    }
    #show4 button {
        margin-left: 41.5%;
    }
}