* {
    margin: 0; 
    padding: 0;
}

body {
    background: #040D11;
    font-family: 'Poppins';
    color: white;
    height: 100%;
}
footer {
    position: absolute;
    height: 80px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #030A0C;
    z-index: 11;
}
footer p {
    font-size: 13px;
}
.cover {
    width: 100%;
    height: 100%;
}

.container1 {
    width: 85%;
    margin: auto;
    display: flex;
    height: 70px;
    justify-content: space-between;
    align-items: center;
}

.container {
    width: 80%;
    margin: auto;
}

#box {
    position: absolute;
    height: 70vh;
    width: 50%;
    background: #030A0C;
}

section {
    height: fit-content;
    position: relative;
    overflow: hidden;
}

header {
    position: absolute;
    height: 70px;
    width: 100%;
    border-bottom: 1px solid rgb(47, 47, 47);
    z-index: 50;
}
header h1 {
    font-size: 22px;
    cursor: pointer;
    margin-top: 0px;
    display: none;
    user-select: none;  
    color: rgb(82, 245, 18);
    width: fit-content;
}
header ul {
    display: flex;
    list-style-type: none;
    margin-top: 5px;
    margin-left: 4.6rem;
}
header ul li img {
    width: 15px;
    margin: 0 10px;
}
header ul li {
    margin: 0 20px;
    color: #676A70;
}
.menu {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    background: #030A0C;
    height: 220px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    z-index: -2;
    transform: translateY(-50rem);
}
.menu p {
    margin: 10px 0;
    font-size: 16px;
}
.menu p:nth-child(1) {
    margin-top: 60px;
}
.menu.active {
    animation: menuDown 0.4s ease-out forwards;
}
.toggle {
    position: relative;
    background: url('./img/burgerIcon.png');
    width: 30px;
    height: 30px;
    background-repeat: no-repeat;
    background-size: 30px;
    background-position: center;
    cursor: pointer;
    display: none;
    margin: 5px 10px 0 0;
    user-select: none;  
}
.toggle.active { 
    background: url('./img/closeIcon.png');
    width: 30px;
    height: 30px;
    background-repeat: no-repeat;
    background-size: 25px;
    background-position: center;
}



nav {
    position: fixed;
    top: 0;
    left: 0;
    width: 150px;
    height: 100%;
    border-right: 1px solid rgb(47, 47, 47);
    box-sizing: border-box;
    z-index: 5;
}
.center {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
nav h1 {
    color: #f1f1f1;
    margin: 0;
    cursor: pointer;
    font-size: 22px;
    width: fit-content;
    text-align: center;
    box-shadow: 0px 1px 0px 0px rgb(47, 47, 47);
    padding: 18.5px 34px;
}
nav h1:hover {
    color:#9413B1;
    transition: 0.2s;
}
nav ul {
    margin-top: -5rem;
    padding: 0;
    list-style-type: none;
}

nav ul li {
    color: #676A70;
    padding: 20px 42px;
    cursor: pointer;
    font-weight: bold;
}
nav ul li:hover {
    color: #fff;
    transition: 0.2s;
}

#inside {
    width: 100%;
    height: fit-content;
    position: relative;
    top: 0;
}
.addthis {
    background: rgba(251, 251, 251, 0.048);
    box-shadow: 1px 0px 0px 0px #9413B1;
    color: white;
}




/* landing page  */

#show1 {
    margin-left: 8%;
    width: 100%;
    height: 800px;
    scroll-snap-align: center;
}
#show1 .first1 {
    color: #f1f1f1;
    font-size: 50px;
}
#show1 .second1 {
    padding-top: 150px;
}
#show1 .second1, .second2 {
    color: #676A70;
    font-size: 20px;
    width: 23rem;
}
#show1 ul li img {
    width: 25px;
    filter: brightness(70%);
    margin: 0 10px;
    cursor: pointer;
}
#show1 ul {
    list-style-type: none;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    margin-top: -10rem;
    margin-left: -20rem;
    z-index: -10;
}
.boxcont {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    z-index: -10;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    flex-direction: column;
}
.box1 {
    width: 100px;
    height: 50px;
    transform: translateX(-50%);
    margin-bottom: 70px;
    box-shadow: 1px 0px 0px 0px #70707055;
}
.boxcont p {
    color: #707070b9;
    margin: 10px 0;
}
.boxcont img {
    width: 20px;
    animation: mouseup 1s ease-out infinite alternate-reverse;
}
.boxcont2 {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: flex-end;
    flex-direction: column;
    z-index: -5;
}
.box2 {
    width: 320px;
    height: 200px;
    margin-bottom: 1.2rem;
    margin-left: 15rem;
}
.box3 {
    position: absolute;
    width: 320px;
    height: 200px;
    background: #10191A;
    margin-bottom: 1.2rem;
    margin-left: 15rem;
    z-index: -1;
    transform: translateX(-75%);
    padding-left: 20rem;
}
.box2 .quote {
    padding-top: 2rem;
    font-size: 14px;
}
.boxcont2 .boxcont2-flex {
    margin-top: 10px;
    display: flex;
}
.boxcont2-flex img {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    margin-right: 20px;
}
.boxcont2-flex .line {
    width: 35px;
    height: 40px;
    /* background: red; */
    box-shadow: 0px -1px 0px 0px #707070b9;
    transform: translateY(50%);
    margin: 0 10px;

}
.boxcont2-flex p {
    font-size: 14px;
}
.boxcont2-flex .p2 {
    font-size: 13px;
    color: #707070b9;
}

/* PROJECTS */


#show2 {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-left: 8%;
    height: 800px;
}   

#show2 img {
    width: 300px;
}

.projContainer {
    min-width: 300px;
    height: 350px;
    background: #040D11;
    position: relative;
    box-shadow: 3px 3px 6px black;

}
.title {
    font-size: 30px;
    margin: 5px 0 20px 0;
   
}
.titlecontainer {
    position: absolute;
    left: 2rem;
    width: 93%;

}
p {
    font-size: 12px;/* temporary width */
     margin: 0;
}
.span1 {
    position: absolute;
    padding: 10px 47.9px;
    background: #040D11;
    border-width: 1px 1px 0 0;
    border-style: solid;
    border-color: rgba(255, 255, 255, 0.13);
    bottom: 0;
    left: 0;
    cursor: pointer;
}
.span2 {
    position: absolute;
    padding: 10px 59.9px;
    background: #040D11;
    border-width: 1px 0 0 1px;
    border-style: solid;
    border-color: rgba(255, 255, 255, 0.13);
    bottom: 0;
    right: 0;
    cursor: pointer;
}
.span1:hover, .span2:hover {
    /* background: rgb(58, 58, 58); */                  
    color: rgb(58, 58, 58);
}

/* revision */

.titleRev {
    font-size: 25px;
    margin-top: 7px;
    line-height: 1.8rem;
    margin-bottom: 20px;
}

/* ABOUT */


#show3 {
    padding-top: 2rem;
    color: #f1f1f1;
    margin-left: 8%;
    height: 800px;
}
#show3 .first2 {
    margin-top: 5rem;
    line-height: 3rem;
    font-size: 30px;
}
#show3 .second2, .third2, .fourth2 {
    font-size: 20px;
    margin: 20px 0;
}
#show3 ul {
    list-style-type: none;
    display: flex;
    flex-wrap: wrap;
}
#show3 ul li {
    background: white;
    padding: 6px 10px;
    border: 2px solid black;
    border-radius: 10px;
    font-weight: bold;
    color: black;
    background-clip: padding-box;
    width: fit-content;
    margin-bottom: 5px;
}
.skill4, .dskill3 {
    line-height: 1px;
    
}
.fifth2, .dskill {
    font-size: 30px;
    margin-top: 4rem;
}
.design {
    float: right;
    margin-top: -10rem;
    margin-right: 5rem;
}
.dskill {
    font-size: 30px;
}


/* CONTACT */


#show4 {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-left: 8%;
    height: 800px;
    width: 100%;
}
#show4 p {
    font-size: 20px;
}
#show4 .firstxt {
    padding-top: 0rem;
    margin-left: 0rem;
}
#show4 .GetInT {
    font-size: 30px;
    line-height: 4rem;
}
#show4 .GetInT2 { 
    font-size: 19px;
}
#show4 form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 365px;
    height: 370px;
    padding: 10px 20px 25px;
    border-radius: 5px;
    background: #040D11;
    box-shadow: 3px 3px 6px black;
    
}
#show4 .txtfield {
    width: 19.8rem;
    padding: 3px;
    outline: none;
    background: #fff;
}
#show4 textarea {
    width: 20.2rem;
    padding-bottom: 6rem;
    outline: none;
    resize: none;
    background: #fff;
}
#show4 button {
    padding: 10px 20px;
    border-radius: 20px;
    font-size: 15px;
    font-family: 'Poppins';
    font-weight: bold;
    border-style: solid;
    border-color: rgb(31, 31, 31);
    cursor: pointer;
}
#show4 form p {
    font-size: 16px;
    padding: 10px 0 0 0;
}
#show4 form p:nth-child(1) {
    margin-right: 17rem;
}
#show4 form p:nth-child(3) {
    margin-right: 17.5rem;
}
#show4 form p:nth-child(5) {
    margin-right: 15.7rem;
}


/* KEYFRAMES */

@keyframes mouseup {
    from {
        transform: translateY(0px);
    }
    to {
        transform: translateY(-30px);
    }
}
@keyframes moveleft {
    0% {
        left: 0;
    }
    10% {
        left: 10px;
    }
    100% {
        left: -50rem;
    }
}
@keyframes moveleft2 {
    from {
        left: -50rem;
    }
    to {
        left: 0;
    }
}
@keyframes fade {
    from {
        opacity: 1;
    }
    to {
        opacity: 0;
    }
}
@keyframes fade2 {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}
@keyframes menuDown {
    from {
        transform: translateY(-20rem);
    }
    to {
        transform: translateY(0rem);
    }
}



@media (max-width:768px) {

    /* header  */
    nav {
        display: none;
    }
    header {
        position: fixed;
        border: none;
    }
    header h1 {
        display: block;
        margin-left: 0;
    } 
    header .info {
        display: none;
    }
    .toggle {
        display: block;
    }
    

    /* section */ 
    .container {
        width: 85%;
    }

    /* show1 */

    #box {
        display: none;
    }
    #show1 {
        margin-left: 0;
    }
    #show1 .first1 {
        font-size: 35px;
    }
    #show1 .second1, .second2 {
        font-size: 15px;
        width: 16rem;
    }
    .box2, .box3 {
        margin-left: 2rem;
    }

    #show1 ul {
        flex-direction: column;
        margin-top: -6rem;
        margin-left: -2rem;
    }
    #show1 ul li {
        margin: 7px 0;
    }

    /* quote section */

    .box2 {
        width: 200px;
        height: 150px;
    }
    .box2 .quote {
        padding-top: 0.76rem;
        font-size: 11px;
    }
    .boxcont2-flex img {
        width: 30px;
        height: 30px;
    }
    .boxcont2-flex .line {
        height: 30px;
    }
    .boxcont2-flex p {
        font-size: 11px;
    }
    .boxcont2-flex .p2 {
        font-size: 10px;
    }
    .box2, .box3 {
        margin-bottom: 15rem;
    }
    .box3 {
	height: 150px;
	transform: translateX(-85%);
    }
    
    /** * ** * ** * * * */

    /* mouse feat section */
    
    .box1 {
        height: 25px;
        margin-bottom: 80px;
    }
    .boxcont p {
        font-size: 8px;
        margin: 5px 0;
    }
    .boxcont img {
        width: 12px;
    }
    /** * ** * ** * * * */

    /* show2 */
    
    #show2 {
        margin-left: 0%;
        flex-direction: column;
    } 
    .projContainer {
        margin: 20px 0;
    }
    /** * ** * ** * * * */

    /* show3 */
    
    #show3 {
        margin-left: 0;
        margin-top: 25rem;
    } 
    .design {
        float: left;
        margin-top: 0;
    }
    /** * ** * ** * * * */

    /* show3 */
    
    #show4 {
        margin-top: 0rem;
        margin-left: 0;
        justify-content: space-around;
        align-items: flex-start;
        flex-direction: column;
    } 
    #show4 .firstxt {
            margin-top: 5rem;
    }
    #show4 form {
        margin-top: -2rem;
        width: 300px;
    }
    #show4 .txtfield {
        width: 17.5rem;
    }
    #show4 textarea {
        width: 18rem;
    }

    #show4 form p:nth-child(1) {
        margin-right: 15.1rem;
    }
    #show4 form p:nth-child(3) {
        margin-right: 15.6rem;
    }
    #show4 form p:nth-child(5) {
        margin-right: 13.8rem;
    }
    /** * ** * ** * * * */
    /* keyframes */

    
}